@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 80vh;
    display: grid;
    place-items: center;  
    /* background-image: url("images/img4.jpg"); */
    /* background: #f0f0f0; */;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #080808;
}


header{
    width: 100%;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding: 10px;
    opacity: inherit;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.logo{
    padding-left: 10px;
    color:#0b0b0b;
    font-size: 1.2rem;
    margin-right: auto;
}

.links li{
    padding-left: 20px;
    text-decoration:none;
    display: inline-block;
    cursor: pointer;
    list-style:none; 
    transition: 0.3s ease-in;
}

.links li a{
    text-decoration: none;
    padding: 10px;
}

.search-bar{
    padding-right: 10px;
    padding-left: 10px;
    list-style: none;
}
#btn{
    color: beige;
    border: #edf0f1;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: blueviolet;
    transition: 0.3s ease-in;
}

#btn:hover {
    background-color:rgb(75, 72, 72);
    transition: 0.3s ease-in;
}

.container{
    position:relative;
    border-radius: 10px;;
    width: 650px;
    height: 450px;
    background: rgb(246, 248, 248);
    box-shadow: 0 5px 10px rgba(68, 119, 150, 0.2), 0 10px 10px #40acd633;
    align-items: center;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.form-container{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}
form{
    width:100%;

}

.social-container{
    margin: 20px 0;
}
.social-container a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #999;
    border-radius: 50%;
    margin: 0 5px;
    color: #222;
    text-align: center;
    line-height: 38px;
    transition: 0.3s;
}
.social-container a:hover{
    background-color: #595be633;
    color: rgb(230, 94, 94);
    
}
form span{
    font-size: 14px;
    color: #999;
}

.input-box {
    position: relative;
    width: 100%;
    height: 40px;
    background: rgb(206, 196, 196);
    border-radius: 5px;
    margin: 8px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: 1px solid transparent;
    padding: 0 15px 0 35px;
    transition: 0.3s;
}

.input-box input:focus{
    border-color: #681e0c;
}

.input-box i{
    position: absolute;
    left: 10px;
    top: 30%;
    transform: tramslateY(-50%);
    pointer-events: none;
}
.btn{
margin-top: 20px;
padding: 10px 50px;
background: #222;
border: 2px solid black;
border-radius: 5px;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 1px;
cursor: pointer;
color: white;
}

#toggle
{
    display: none;
}
.panel-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    transition: o.3s;
}
    


#toggle:checked ~ .panel-container{
    left:-50%;
}

.panel {
    width:50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.panel h2{
    font-size: 20px;
    color: #799af6;
}

.btn-alt{
    border-color:#fff;
}